<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet"  type="text/css" href="style.css">
</head>
<body>
    <div class="div">
                

        <form  action="/login" method="post">
            
            <input class="input" type="text" name="email" placeholder="email">
            
            <input class="input" type="text" name="password" placeholder="password" >
            <button class="input">login</button>
        </form>
        
        
    </div>
   
</body>